html {
    font-family: "Open Sans", Arial, sans-serif;
    overflow: hidden;
    background-color: #e8ecf0;
}

._dash-undo-redo {
    display: none;
}

.tab span {
    text-transform: uppercase;
    font-size: .75em;
}

.header {
    height: 10vh;
    display: flex;
    background-color: white;
    align-items: flex-end;
}

.logo {
    padding: 6px;
    height: 90%;
    flex: 1;
}

h1 {
    font-weight: bold;
    font-size: 1.5rem;
}

.user {
    align-self: center;
    flex: 1;
}

.maincontent {
    flex: 8;
}

.maincontent::-webkit-scrollbar-track
{
	border-radius: 10px;
    background-color: transparent;
    padding-top: 5px;
}

.maincontent::-webkit-scrollbar
{
	width: 12px;
    background-color: transparent;
}

.maincontent::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	background-color: #3f4c6b46;
}

.row {
    display: flex;
    flex-direction: row;
}

.tabcontainer {
    padding: 20px;
}

.tabsrow {
    /* width: 65%; */
    flex-wrap: wrap;
    padding-top: 5vh;
}

.tabsleft {
    flex: 1;
    padding: 10px;
    margin-right: 40px;
}

.tabsright {
    flex: 1;
    padding: 10px;
}

h2 {
    font-size: 2em;
}

.tab {
    font-size: 1.5em;
    border: none !important;
    border-radius: 5px 5px 0px 0px;
    border-bottom: solid 2px rgba(47, 84, 118, 0.5) !important;
    background-color: white !important;
    padding: 10px 5px 5px 5px !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #363e45 !important;
    min-height: 2em;
}

.tab--selected {
    font-size: 1.6em;
    border-radius: 5px 5px 0px 0px;
    border: solid 2px rgba(47, 84, 118, 0.5) !important;
    border-bottom: none !important;
    background-color: #e8ecf0 !important;
    color: #363e45 !important;
}


.metricCard, .metricRow {
    color: rgba(0,0,0,0.8);
    /* min-width: 20%; */
    flex-basis: auto; /* default value */
    /* flex-grow: 1; */
    margin-bottom: .285em;
    margin-right: .285em;
    /* box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25); */
    border-radius: 5px;
    border: solid 2px rgba(47, 84, 118, 0.5);
    background-color: #ffffff;
    width: 17%;
    padding: 1% 1%;
    text-align: center;
}

.metricTitle {
    flex: 1;
    font-size: 1.0em;
    margin-bottom: .25em;
    /* font-weight: bold; */
}

.metricValue {
    font-size: 1.8em;
    font-weight: 700;
}

.metricImportantTitle {
    flex: 1;
    font-size: 1.3em;
    margin-bottom: .25em;
    /* font-weight: bold; */
}

.metricImportantValue {
    font-size: 1.3em;
}

.nav-option {
    margin: 20px;
    padding: 10px 20px;
    font-size: 1.4rem;
    color: white;
    border-radius: 20px;
}

.nav-option:hover {
    background: rgba(255, 255, 255, .25);
    cursor: pointer;
}

.nav-option span {
    margin-right: 20px
}

.nav-selected, .nav-selected:hover {
    background: white;
    color: #ed9017;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
}

.profile {
    width: 10em;
    height: 10em;
    align-self: center;
    border-radius: 200px;
}

.js-plotly-plot {
    padding: 10px !important;
    border-radius: 5px;
    border: solid 2px rgba(47, 84, 118, 0.5);
    background-color: #ffffff;
    width: 95%;
}

button {
    width: 120px;
    border-radius: 5px;
    border: solid 1.5px rgba(40, 52, 66, 0.49);
    background-color: #4d7daa;
    color: #ffffff;
    padding: 8px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

button:hover {
    border-radius: 5px;
    border: solid 1.5px rgba(40, 52, 66, 0.49);
    background-color: #2f5476;
}

button:active {
    border-radius: 5px;
    border: solid 1.5px rgba(40, 52, 66, 0.49);
    background-color: #283442;
}