html {
    font-family: "Open Sans", Arial, sans-serif;
    overflow: hidden;
    background-color: #e8ecf0;
}

body { 
    font-size: 16px;
    height: 100vh;
}

#react-entry-point {
    height: 100%;
}

.container {
    height: 100%;
}

#tabs-content-example {
    height: 90vh;
}

._dash-undo-redo {
    display: none;
}

.tab span {
    text-transform: uppercase;
    /* font-size: .75em; */
    font-size: 1.25vw;
}

.header {
    height: 10vh;
    display: flex;
    background-color: white;
    align-items: flex-end;
}

 .logo {
    padding: 6px;
    height: 85%;
    flex: .75;
}

div.logo {
    border-bottom: 2px solid rgba(47, 84, 118, 0.5);
}

div.user {
    border-bottom: 2px solid rgba(47, 84, 118, 0.5);
}

h1 {
    font-weight: bold;
    /* font-size: 1.95rem; */
    font-size: 2.1vw;
    /* padding-left: 2rem; */
}

.user {
    /* align-self: center; */
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    padding-left: 2rem;
    flex: 1.5;
}

.user > span {
  font-family: 'Source Sans Pro', sans-serif;
  /* font-size: 18px; */
  font-size: 1.25vw;
  font-weight: 600;
  color: rgb(54, 62, 69);
  padding-left: 6px;
}

.user > span::after {
   content: "\25BE";
   font-size: 24px;
   vertical-align: middle;
}

.maincontent {
    flex: 8;
}

.maincontent::-webkit-scrollbar-track
{
	border-radius: 10px;
    background-color: transparent;
    padding-top: 5px;
}

.maincontent::-webkit-scrollbar
{
	width: 12px;
    background-color: transparent;
}

.maincontent::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	background-color: #3f4c6b46;
}

.row {
    display: flex;
    flex-direction: row;
}

.tabcontainer {
    /* padding: 20px; */
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    overflow-y: auto;
}

.tabsrow {
    /* width: 65%; */
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
}

.tabsleft {
    flex: 1;
    padding: 10px;
    margin-right: 40px;
}

.tabsright {
    flex: 1;
    padding: 10px;
}

h2 {
    font-size: 2em;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border: none !important;
    border-radius: 5px 5px 0px 0px;
    border-bottom: solid 2px rgba(47, 84, 118, 0.5) !important;
    background-color: white !important;
    /* padding: 10px 5px 5px 5px !important; */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #363e45 !important;
    min-height: 2.25em;
}

.tab.jsx-535771872 {
    padding: 20px 0 !important;
}

.jsx-535771872.tab.tab--selected {
    line-height: .75 !important;
}


.tab--selected {
    font-size: 1.6em;
    border-radius: 5px 5px 0px 0px;
    border: solid 2px rgba(47, 84, 118, 0.5) !important;
    border-bottom: none !important;
    background-color: #e8ecf0 !important;
    color: #363e45 !important;
}


.metricCard, .metricRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.8);
    /* min-width: 20%; */
    flex-basis: auto; /* default value */
    flex-grow: 1;
    margin-bottom: .285em;
    margin-right: .285em;
    /* box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25); */
    border-radius: 5px;
    border: solid 2px rgba(47, 84, 118, 0.5);
    background-color: #ffffff;
    width: 17%;
    /* padding: 1%; */
    text-align: center;
}

.metricTitle {
    /* flex: 1; */
    /* font-size: 1.0em; */
    font-size: 1vw;
    margin-bottom: .75rem;
    margin-top: .75rem;
    font-weight: 600;
    color: rgba(54, 62, 69, 0.8);
    /* font-weight: bold; */
}

.metricValue {
    /* font-size: 1.35rem; */
    font-size: 1.25vw;
    font-weight: 700;
    margin-bottom: .75rem;
    color: #363e45;
}

.metricImportantTitle {
    flex: 1;
    font-size: 1.3em;
    margin-bottom: .25em;
    /* font-weight: bold; */
}

.metricImportantValue {
    font-size: 1.3em;
}

.nav-option {
    margin: 20px;
    padding: 10px 20px;
    font-size: 1.4rem;
    color: white;
    border-radius: 20px;
}

.nav-option:hover {
    background: rgba(255, 255, 255, .25);
    cursor: pointer;
}

.nav-option span {
    margin-right: 20px
}

.nav-selected, .nav-selected:hover {
    background: white;
    color: #ed9017;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
}

.profile {
    width: 50px;
    /* height: 10em; */
    align-self: center;
    border-radius: 200px;
}

.js-plotly-plot, .detailed-container {
    padding: 10px !important;
    border-radius: 5px;
    border: solid 2px rgba(47, 84, 118, 0.5);
    background-color: #ffffff;
    /* width: 97%; */
    /* width: 100%; */
}

.detailed-container {
    overflow-x: auto;
}

button {
    width: 120px;
    border-radius: 5px;
    border: solid 1.5px rgba(40, 52, 66, 0.49);
    background-color: #4d7daa;
    color: #ffffff;
    padding: 8px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

button:hover {
    border-radius: 5px;
    border: solid 1.5px rgba(40, 52, 66, 0.49);
    background-color: #2f5476;
}

button:active {
    border-radius: 5px;
    border: solid 1.5px rgba(40, 52, 66, 0.49);
    background-color: #283442;
}

.othermetrics {
    display: flex;
    flex-wrap: wrap;
}

.othermetrics .metricCard:nth-child(5), .othermetrics .metricCard:nth-child(10) {
    margin-right: 0;
}

.row.tabsrow {
    flex-wrap: nowrap;
}

.facevalue {
    display: flex;
    width: 25%;
    height: 22.5vh;
    /* height: 20vh; */
}

.facevalue .metricCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.facevalue .metricCard .metricTitle {
    flex: none;
    font-size: 1.4vw;
}

.facevalue .metricCard .metricValue {
    font-size: 1.4vw;
}


.status-container {
    padding-top: 1rem;
}

.metricPercent {
    font-family: "Open Sans";
    font-size: 1.2vw;
    font-weight: 600;
    color: #4ca683;
}

.exposure-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.exposure-container > div {
    width: 33%;
    padding-bottom: .65%;
}

.exposure-container > div > div {
   /* max-height: 360px; */
   max-height: 35vh;
}

.exposure-container .js-plotly-plot {
    width: auto;
}

.smallscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1); 
    color: white;
    z-index: 2; 
}

 .exposure-container .gtitle {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: bold !important;
    text-transform: uppercase;
}

#portfolio-bubble-graph .svg-container {
    max-height: 37.5vh;
}


.performance-header, .price-header {
    display: flex;
    width: 60%;
    margin-bottom: 1rem;
}

.history-header {
    margin-bottom: 2rem;
}

.Select-control {
    height: 48px !important;
    border-radius: 5px !important;
    border: solid 1.5px rgba(47, 84, 118, 0.5) !important;
}

.Select-placeholder {
    line-height: 48px !important;
}

#column_filter, #value_filter {
    flex: 1;
    padding-right: .75rem;
} 

#cash-flow-graph {
    /* margin-top: 2rem; */
    margin-bottom: 1rem;
    max-height: 37.5vh;
}

#monthly-cashflow {
    max-height: 37.5vh;
}

#my_bond_picker {
    flex: 1;
    margin-right: 1.5rem;
}

#chart_picker {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2rem;
}

.history-label {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(47, 84, 118, 0.8);
}

#total_return_graph {
    height: 96%;
}

.performance-graph {
    overflow-y: auto; 
    position: relative;
}

#price_history_graph {
    height: 70vh;
}

@media only screen and (min-width: 1023px) {
    .smallscreen {
      display: none;
    }
  }

 